input[type=number] {
  font-size: 1rem;
  -webkit-appearance: textfield;
     -moz-appearance: textfield;
          appearance: textfield;
  border-radius: 5px;
  border-color: #bdaae4;
  padding-left: 2px;
  width: 4rem;
}

input[type=number]:hover,
input[type=number]:focus {
  -moz-appearance: number-input;
}

input[type=range] {
  -webkit-appearance: none;
  margin: 10px 0;
  background: #bdaae4;
  width: 180px;
  padding-left: 4px;
}

input[type=range]:focus {
  outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  -webkit-box-shadow: 1px 1px 1px #dbd1f0;
          box-shadow: 1px 1px 1px #dbd1f0;
  background: #663cb9;
  border-radius: 1px;
  border: 1px solid #825dcb;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-box-shadow: 1px 1px 1px #42473f;
          box-shadow: 1px 1px 1px #42473f;
  border: 2px solid #bdaae4;
  height: 14px;
  width: 14px;
  border-radius: 14px;
  background: #6d42c2;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -6px;
}

input[type=range]:focus::-webkit-slider-runnable-track {
  background: #663cb9;
}

input[type=range]::-moz-range-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  box-shadow: 0px 1px #dbd1f0;
  background: #663cb9;
  border-radius: 1px;
  border: 1px solid #825dcb;
}

input[type=range]::-moz-range-thumb {
  box-shadow: 1px 1px 1px #42473f;
  border: 2px solid #bdaae4;
  height: 14px;
  width: 14px;
  border-radius: 14px;
  background: #6d42c2;
  cursor: pointer;
}

input[type=range]::-ms-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}

input[type=range]::-ms-fill-lower {
  background: #663cb9;
  border: 1px solid #825dcb;
  border-radius: 2px;
  box-shadow: 0px 1px #dbd1f0;
}

input[type=range]::-ms-fill-upper {
  background: #663cb9;
  border: 1px solid #825dcb;
  border-radius: 2px;
  box-shadow: 0px 1px #dbd1f0;
}

input[type=range]::-ms-thumb {
  margin-top: 1px;
  box-shadow: 1px 1px 1px #42473f;
  border: 2px solid #bdaae4;
  height: 14px;
  width: 14px;
  border-radius: 14px;
  background: #6d42c2;
  cursor: pointer;
}

input[type=range]:focus::-ms-fill-lower {
  background: #663cb9;
}

input[type=range]:focus::-ms-fill-upper {
  background: #663cb9;
}

header {
  position: absolute;
  width: 100vw;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 1;
  background: #bdaae4;
}

h1 {
  font-size: 1.3rem;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin-left: 1em;
}

canvas {
  position: absolute;
  top: 60px;
  z-index: -99;
}

label {
  font-size: 1.1rem;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: #242e0f;
  background: #dbd1f0;
  padding: 0.05em 0.45em;
  border-radius: 3px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

textarea {
  font-size: 1rem;
  width: 98%;
  border-radius: 3px;
  background: #f3f0fa;
  border-color: #bdaae4;
}

#start-textarea {
  height: 50px;
}

#rules-textarea {
  height: 100px;
}

.inputs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  padding: 0 0 7px 0;
  top: 80px;
  left: 20px;
  background: #bdaae4;
  border-radius: 4px;
}

.inputs * {
  margin-top: 3px;
  margin-left: 3px;
  margin-right: 3px;
}

.input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#start,
#rules {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#angle,
#length,
#iterations,
.input-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
/*# sourceMappingURL=main.css.map */