input[type=number] {
  font-size: 1rem;
  -webkit-appearance: textfield;
     -moz-appearance: textfield;
          appearance: textfield;
  border-radius: 5px;
  border-color: #99b1e1;
  padding-left: 2px;
  width: 4rem;
  background: #d8e1f3;
}

input[type=number]:hover,
input[type=number]:focus {
  -moz-appearance: number-input;
}

input[type=range] {
  -webkit-appearance: none;
  margin: 10px 0;
  background: #99b1e1;
  width: 150px;
  padding-left: 4px;
}

input[type=range]:focus {
  outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  -webkit-box-shadow: 1px 1px 1px #c0cfec;
          box-shadow: 1px 1px 1px #c0cfec;
  background: #345cad;
  border-radius: 1px;
  border: 1px solid #4a75c9;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-box-shadow: 1px 1px 1px #42473f;
          box-shadow: 1px 1px 1px #42473f;
  border: 2px solid #99b1e1;
  height: 14px;
  width: 14px;
  border-radius: 14px;
  background: #3762b9;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -6px;
}

input[type=range]:focus::-webkit-slider-runnable-track {
  background: #345cad;
}

input[type=range]::-moz-range-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  box-shadow: 0px 1px #c0cfec;
  background: #345cad;
  border-radius: 1px;
  border: 1px solid #4a75c9;
}

input[type=range]::-moz-range-thumb {
  box-shadow: 1px 1px 1px #42473f;
  border: 2px solid #99b1e1;
  height: 14px;
  width: 14px;
  border-radius: 14px;
  background: #3762b9;
  cursor: pointer;
}

input[type=range]::-ms-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}

input[type=range]::-ms-fill-lower {
  background: #345cad;
  border: 1px solid #4a75c9;
  border-radius: 2px;
  box-shadow: 0px 1px #c0cfec;
}

input[type=range]::-ms-fill-upper {
  background: #345cad;
  border: 1px solid #4a75c9;
  border-radius: 2px;
  box-shadow: 0px 1px #c0cfec;
}

input[type=range]::-ms-thumb {
  margin-top: 1px;
  box-shadow: 1px 1px 1px #42473f;
  border: 2px solid #99b1e1;
  height: 14px;
  width: 14px;
  border-radius: 14px;
  background: #3762b9;
  cursor: pointer;
}

input[type=range]:focus::-ms-fill-lower {
  background: #345cad;
}

input[type=range]:focus::-ms-fill-upper {
  background: #345cad;
}

header {
  position: absolute;
  width: 100vw;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 1;
  background: #99b1e1;
}

h1 {
  font-size: 1.6rem;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin-left: 1em;
  letter-spacing: -0.07rem;
}

#canvas-container {
  position: absolute;
  top: 60px;
  height: 100%;
  z-index: -99;
}

canvas {
  width: 100%;
  height: 100%;
}

label {
  font-size: 1.15rem;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: bold;
  color: #3f3013;
  background: #c0cfec;
  padding: 0.05em 0.45em;
  border-radius: 3px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

textarea {
  font-size: 1rem;
  width: 98%;
  border-radius: 3px;
  background: #d8e1f3;
  border-color: #99b1e1;
}

#start-textarea {
  height: 50px;
}

#rules-textarea {
  height: 100px;
}

#inputs-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  padding: 0 0 7px 0;
  top: 70px;
  left: 10px;
  background: #99b1e1;
  border-radius: 4px;
}

#inputs-container * {
  margin-top: 3px;
  margin-left: 3px;
  margin-right: 3px;
}

#inputs-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#inputs-header h1 {
  font-size: 1.2rem;
}

#toggle-fullscreen {
  position: absolute;
  top: 70px;
  right: 10px;
  font-size: 1rem;
  font-family: 'Courier New', Courier, monospace;
  color: #99b1e1;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
}

#toggle-fullscreen:hover {
  -webkit-transform: scale(1.06);
          transform: scale(1.06);
  background: #101d37;
}

#center-button-container {
  position: absolute;
  top: 70px;
  left: 0;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#center-button {
  font-size: 1rem;
  font-family: 'Courier New', Courier, monospace;
  color: #99b1e1;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
}

#center-button:hover {
  -webkit-transform: scale(1.06);
          transform: scale(1.06);
  background: #101d37;
}

#toggleUI-button-container {
  position: absolute;
  bottom: 10px;
  left: 0;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#toggleUI-button {
  font-size: 1rem;
  font-family: 'Courier New', Courier, monospace;
  color: #99b1e1;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
}

#toggleUI-button:hover {
  -webkit-transform: scale(1.06);
          transform: scale(1.06);
  background: #101d37;
}

#toggle-inputs {
  margin-top: 0;
  padding-right: 3px;
  font-family: 'Courier New', Courier, monospace;
  font-size: 1rem;
  color: #101d37;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
}

#toggle-inputs:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  background: #8da8dd;
}

.fullscreen {
  top: 0 !important;
  left: 0 !important;
  width: 100% !important;
  height: 100% !important;
}

.top {
  position: absolute;
  top: 10px !important;
}

.hide {
  display: none !important;
}

.input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#start,
#rules {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#angle,
#length,
#iterations,
.input-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
/*# sourceMappingURL=main.css.map */