input[type=number] {
	font-size: 1rem;
	appearance: textfield;
	border-radius: 5px;
	border-color: $primary-color;
	padding-left: 2px;
	width: 4rem;
}

input[type=number]:hover,
input[type=number]:focus {
	-moz-appearance: number-input;
}
