$primary-color: hsl(260, 51%, 78%);
$inputs-background: $primary-color; //hsla(0, 0%, 78%, 0.8);

// slider colors
$slider-track: darken($primary-color, 30%); //rgb(160, 88, 189);
$slider-track-border: lighten($slider-track, 10%);
$slider-thumb-border: $primary-color;
$slider-thumb-background: darken($slider-thumb-border, 27%);
$slider-box-shadow: lighten($primary-color, 10%);

$header-height: 60px;
