@import 'variables';
@import "input-number";
@import "input-slider";

header {
	position: absolute;
	width: 100vw;
	height: $header-height;

	display: flex;
	justify-content: space-between;
	align-items: center;

	z-index: 1;

	background: $primary-color;
}

h1 {
	font-size: 1.3rem;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	margin-left: 1em;
}

canvas {
	position: absolute;
	top: $header-height;
	z-index: -99;
}

label {
	font-size: 1.1rem;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	color: $label-text;
	background: $label-background;
	padding: 0.15em 0.35em;
	text-align: center;
	margin: auto 0;
	border-radius: 3px;
	user-select: none;
}

textarea {
	font-size: 1rem;
	width: 97%;
	border-radius: 3px;
	background: lighten($primary-color, 18%);
	border-color: $primary-color;
}

#start-textarea {
	height: 50px;
}

#rules-textarea {
	height: 100px;
}

.inputs {
	display: flex;
	flex-direction: column;
	position: absolute;
	padding: 0 0 7px 0;
	top: $header-height + 20px;
	left: 20px;
	background: $inputs-background;
	border-radius: 4px;

	* {
		margin-top: 3px;
		margin-left: 3px;
		margin-right: 3px;
	}
}

.input {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

#start,
#rules {
	display: flex;
	flex-direction: column;
}

#angle,
#length,
#iterations,
.input-right {
	display: flex;
	justify-content: space-between;
}
